<a href="https://colab.research.google.com/github/jlip1613/hello-world/blob/version-2/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lists

List are used to store multiple items in a single value. They are one of four built in data types in python: List,Tuple,Set, and Dictionary

Lists are ceated using [ ]

In [ ]:
myFirstList=[1,2,3,4,5]
mySecondList=["James","Kevin","Ashley"]
print(myFirstList)

[1, 2, 3, 4, 5]

List items are ordered, changeable and allow duplicate values

Items in a list are indexed. The first items has an index of [0] the next an index of [1] and so on

The items in a list have a defined order and that order will not change. If we add a new item to a list the new item is placed at the end of the list. 

* some list methods might change the order but in general the order will not change

We can add/remove items from the list after it has been created

In [ ]:
#Allow Duplicates
ls=["James","kevin","ashley","James"]
print(ls)

['James', 'kevin', 'ashley', 'James']

List length-how many items in list:

len(list)

In [ ]:
print(len(ls))

4

a list can be of any data type  and can have different data types

In [ ]:
list1=[1,2.4,"Four",True]
print(list1)

[1, 2.4, 'Four', True]

In [ ]:
type(list1)

int

#Access Items 

List items are indexed so we can access elements by the index

Inedx starts at 0!!!!!

In [7]:
ls1=["james","julie","ashley","kevin"]

print(ls1[0])

james

Negative indexing:start from the end

In [3]:
print(ls1[-1])

ashley

Range of Indexes:

In [4]:
ls2=[1,2,3,45,63,3,33,78,34,22,90,47]
print(ls2[2:6])
#this search stats at index 2 and ends at index 6 not included

[3, 45, 63, 3]

check if item exists
**in ** keyword checks if an item is in the list

In [5]:
if 45 in ls2:
  print("We found 45!")

We found 45!

#Change List Items 

refer to the index number

In [40]:
ls1=["james","julie","ashley","kevin"]
ls1[0]="jim"
print(ls1)

['jim', 'julie', 'ashley', 'kevin']

In [41]:
#change over range of item values 

ls1[1:4]=["jules","ash","kev"]
print(ls1)

['jim', 'jules', 'ash', 'kev']

insert items:inserts item without replacing any of the existing items  

**insert(index,item)**

In [42]:
ls1.insert(1,"tom")
print(ls1)

['jim', 'tom', 'jules', 'ash', 'kev']

Append Item- adds item to end of list 

**append(item)**

In [43]:
ls1.append("frank")
print(ls1)

['jim', 'tom', 'jules', 'ash', 'kev', 'frank']

Extend List:allows us to append two lists 

**list1.extend(list2)**

In [46]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
list1.extend(list2)
print(list1)

None

#Remove list items

**list.remove(item)**

In [50]:
ls1=["james","julie","ashley","kevin","kevin"]
ls1.remove("kevin")
print(ls1)

['james', 'julie', 'ashley', 'kevin']

Remove items by index

**list.pop(index)**

In [51]:
ls1=["james","julie","ashley","kevin","kevin"]
ls1.pop(3)
print(ls1)

['james', 'julie', 'ashley', 'kevin']

del can remove an item or can delete a list 

**del list(index)**

In [57]:
ls1=["james","julie","ashley","kevin","kevin"]
del ls1[1:3]
print(ls1)

['james', 'kevin', 'kevin']

In [56]:
# del ls1 will delete the list

clear the items in a list 

**list.clear()**

In [58]:
ls1.clear()
print(ls1)

[]

# Loop Lists

In [59]:
#lofdfop through a list
ls1=["james","julie","ashley","kevin","kevin"]

for x in ls1:
  print(x)

james
julie
ashley
kevin
kevin

In [64]:
#loop by index number 

ls1=["james","julie","ashley","kevin","kevin"]

for x in range(1,4):
  print(ls1[x])

['james', 'julie', 'ashley', 'kevin', 'kevin']
['james', 'julie', 'ashley', 'kevin', 'kevin']
['james', 'julie', 'ashley', 'kevin', 'kevin']